openapi: 3.1.0
info:
  title: Forever Sixty API
  version: 0.1.0
servers:
  - url: https://api.foreversixty.gg
components:
  schemas:
    Envelope:
      type: object
      description: >-
        Every successful (2xx) GET response carries ETag: W/"<16 hex chars of sha256(data)>".
        A request with a matching If-None-Match (weak or strong, comma-separated) gets 304 Not
        Modified with an empty body and the same ETag and Cache-Control headers the 200 would
        have carried. POST, PATCH, and DELETE responses never carry an ETag.
      required: [ok, data, error, request_id]
      properties:
        ok: { type: boolean }
        data:
          description: any JSON or null
        error:
          oneOf:
            - type: "null"
            - type: object
              properties:
                code: { type: string }
                message: { type: string }
                fields: { type: object, additionalProperties: { type: string } }
        request_id: { type: string }
    BuildInput:
      type: object
      required: [class_id, race_id, tree_version, point_order]
      properties:
        class_id: { type: integer, description: "Class id present in classes.json for tree_version" }
        race_id: { type: integer, description: "Race id present in races.json for tree_version" }
        tree_version: { type: string, example: "1.15.9.69722", description: "Client build id the API has data for" }
        point_order:
          type: array
          maxItems: 51
          items: { type: integer }
          description: "Talent id per point spent, in the order the points were spent"
        gear:
          type: object
          additionalProperties: { type: integer }
          description: "Item id per planner slot: head neck shoulder back chest wrist hands waist legs feet finger1 finger2 trinket1 trinket2 main_hand off_hand ranged"
        title: { type: string, maxLength: 60 }
    Build:
      type: object
      required: [id, class_id, race_id, tree_version, point_order, gear, created_at, views]
      properties:
        id: { type: string, minLength: 8, maxLength: 8, example: "k7x2qm4a" }
        class_id: { type: integer }
        race_id: { type: integer }
        tree_version: { type: string }
        point_order: { type: array, items: { type: integer } }
        gear: { type: object, additionalProperties: { type: integer } }
        title: { type: string }
        created_at: { type: string, format: date-time }
        views: { type: integer, format: int64 }
    MetricsRow:
      type: object
      description: "One player's numbers for one boss fight; the companion posts these and the API recomputes them from the events"
      required: [player_guid, name, role, metric_dps, metric_hps, damage_taken, active_ms, deaths,
                 encounter_id, difficulty, size, duration_ms, kill]
      properties:
        player_guid: { type: string }
        name: { type: string }
        class: { type: string }
        spec: { type: string }
        role: { type: string, enum: [dps, healer, tank] }
        ilvl: { type: integer }
        metric_dps: { type: number }
        metric_hps: { type: number }
        damage_taken: { type: integer, format: int64 }
        active_ms: { type: integer, format: int64 }
        deaths: { type: integer }
        encounter_id: { type: integer, format: int64 }
        difficulty: { type: integer }
        size: { type: integer }
        duration_ms: { type: integer, format: int64 }
        kill: { type: boolean }
    Report:
      type: object
      required: [id, title, visibility, status, fights, players, created_at, data_base_url]
      properties:
        id: { type: string, minLength: 12, maxLength: 12 }
        title: { type: string }
        visibility: { type: string, enum: [public, unlisted, private, guild] }
        owner:
          type: object
          properties:
            id: { type: integer, format: int64 }
            battletag:
              type: string
              description: >-
                The owner's battletag, or "user-<id>" when they have none or have set
                anonymize. Never an email address: this body is public for a public or
                unlisted report.
        guild:
          type: object
          properties:
            id: { type: integer, format: int64 }
            name: { type: string }
            region: { type: string }
            ruleset: { type: string, enum: [normal, pvp, rp, hardcore] }
        zone: { type: string }
        status: { type: string, enum: [live, processing, complete, failed] }
        engine_version: { type: string }
        flagged: { type: string, description: "metrics_mismatch or tampered when the report is under suspicion" }
        fights:
          type: array
          items: { $ref: '#/components/schemas/FightEntry' }
        players: { type: array, items: { type: string } }
        created_at: { type: string, format: date-time }
        data_base_url:
          type: string
          description: >-
            Where the island reads report.json and the per-fight files. Public and unlisted reports
            are served off the bucket by the site Worker; everything else points at
            /v1/reports/{id}/files, which redirects each object to a signed URL valid ten minutes.
    FightEntry:
      type: object
      description: "The engine's store.FightEntry plus whether the ingest verified the fight"
      required: [index, kind, name, kill, duration_ms, players, verified]
      properties:
        index: { type: integer }
        kind: { type: string, enum: [encounter, trash] }
        name: { type: string }
        encounter_id: { type: integer, format: int64 }
        difficulty: { type: integer }
        size: { type: integer }
        kill: { type: boolean }
        in_progress: { type: boolean }
        zone: { type: string }
        start: { type: string, format: date-time }
        end: { type: string, format: date-time }
        duration_ms: { type: integer, format: int64 }
        players: { type: array, items: { type: string } }
        deaths: { type: integer }
        npc_kills: { type: integer }
        verified: { type: boolean }
    RankingRow:
      type: object
      required: [rank, player, value, size, fought_at, duration_ms, report_id, fight_index, state]
      properties:
        rank: { type: integer }
        player:
          type: object
          properties:
            key: { type: string, description: "<region>/<ruleset>/<name-slug>" }
            name: { type: string }
            class: { type: string }
            spec: { type: string }
        guild:
          type: object
          properties:
            name: { type: string }
            region: { type: string }
            ruleset: { type: string }
        value: { type: number }
        ilvl: { type: integer }
        size: { type: integer }
        fought_at: { type: string, format: date-time }
        duration_ms: { type: integer }
        talent_split: { type: string, example: "31/20/0" }
        trinkets: { type: array, items: { type: integer } }
        buff_count: { type: integer }
        report_id: { type: string }
        fight_index: { type: integer }
        state: { type: string, enum: [ok, at_risk, removed] }
        execution_score: { type: number, nullable: true }
    GearSlotName:
      type: string
      enum: [head, neck, shoulder, back, chest, wrist, hands, waist, legs, feet,
             finger1, finger2, trinket1, trinket2, main_hand, off_hand, ranged]
      description: >-
        The planner's slot vocabulary, in the order the engine's positional
        equipment array is built.
    GearSlot:
      type: object
      description: One equipped item.
      required: [slot, item_id]
      properties:
        slot: { $ref: '#/components/schemas/GearSlotName' }
        item_id: { type: integer }
        enchant: { type: integer }
        suffix: { type: integer }
    Candidate:
      type: object
      description: One item the planner may substitute in.
      required: [item_id, origin]
      properties:
        slot:
          description: >-
            The planner slot, or "" for "wherever it fits", which is how a
            ring, a trinket or a one-hander is offered. A slot named in
            bulk.locked cannot also carry a candidate.
          oneOf:
            - { type: string, const: "" }
            - $ref: '#/components/schemas/GearSlotName'
        item_id: { type: integer }
        enchant:
          type: integer
          description: >-
            0 inherits the equipped item's enchant for the slot it lands in,
            where that enchant fits; it does not mean "none".
        suffix: { type: integer }
        origin:
          type: string
          description: >-
            Where the candidate came from: equipped, bag, bank, search,
            "drop:<source id>" or "set:<name>". A prefixed origin must name
            something after the colon, and every candidate of a drops request
            must carry a "drop:" origin.
          examples: [equipped, "drop:lucifron"]
        source_name:
          type: string
          description: >-
            The human name of the place the candidate came from - "Lucifron",
            "my AQ set". It travels into the result's substitution and into
            the row's headline, so nothing downstream has to join an origin id
            back to a name.
    TalentLoadout:
      type: object
      description: One named build to try.
      required: [name, talents]
      properties:
        name: { type: string }
        talents: { type: string, description: The engine's own positional talent string. }
    GearSet:
      type: object
      description: >-
        A whole-gear alternative: one candidate that replaces every slot at
        once.
      required: [name, gear]
      properties:
        name: { type: string }
        gear: { type: array, items: { $ref: '#/components/schemas/GearSlot' } }
    BulkSpec:
      type: object
      description: >-
        What turns one character into many sims. Top Gear, talent compare and
        Droptimizer ask the same question - a base character, a set of
        substitutions, a ranked answer - so they are one request shape with one
        planner behind it; mode says which of the three asked, and it is also
        the request's kind.
      required: [mode, precision]
      properties:
        mode: { type: string, enum: [gear, talents, drops] }
        candidates:
          type: array
          items: { $ref: '#/components/schemas/Candidate' }
          description: >-
            A drops request needs at least one and a talents request carries
            none; a gear request needs at least one candidate, talent loadout,
            set or consumable list between them.
        talents:
          type: array
          items: { $ref: '#/components/schemas/TalentLoadout' }
          description: >-
            A talents request needs at least one, and carries no candidates and
            no consumable lists: everything but the talents is locked.
        sets:
          type: array
          items: { $ref: '#/components/schemas/GearSet' }
          description: Gear mode only; a set on any other mode is refused.
        consumables:
          type: array
          items: { type: array, items: { type: string } }
          description: >-
            Alternative consumable lists tried as candidates in gear mode: each
            inner list REPLACES character.consumes for that combination, so
            "flask or elixirs" is a dimension of the product rather than a
            thing the player has to run twice. An empty inner list is legal and
            means "no consumables". Gear mode only.
        locked:
          type: array
          items: { $ref: '#/components/schemas/GearSlotName' }
          description: >-
            Slots that are never substituted, whatever the candidate list says.
            It is the page's "keep what I have here".
        precision:
          type: string
          enum: [fast, normal, high]
          description: >-
            How many stages the planner runs and how many iterations the last
            one gets. iterations must be that last stage's count: 3000 for fast
            and for normal, 10000 for high.
        cap:
          type: integer
          description: >-
            The lane's combination cap, echoed into the request so a saved row
            says what bounded it. POST /v1/sims/run sets it itself - it is the
            server's to set, not a control the client holds - and refuses an
            expansion above it with cap_exceeded rather than silently trimming.
            A result saved through POST /v1/sims must carry the cap its own
            lane ran under.
    WeightsSpec:
      type: object
      description: Asks for stat weights instead of a DPS number.
      required: [stats, reference]
      properties:
        stats:
          type: array
          items: { type: string }
          description: >-
            Engine stat ids: the Stat enum names in lower snake case -
            attack_power, crit, spell_haste. There is no melee_crit or
            spell_crit; the engine carries one hit and one crit. A stat the
            engine does not have is refused rather than weighed as nothing.
        reference:
          type: string
          description: >-
            The stat normalised to exactly 1.0. It is required and must be one
            of stats: a reference that is not among the stats being weighed
            would normalise against a number nobody computed. The per-spec
            default is reference_stat on GET /v1/specs.
    SimRequest:
      type: object
      required: [engine_version, spec, source, character, encounter, iterations]
      properties:
        engine_version:
          type: string
          description: The short sha of the engine build, from sim/enginever.
        spec: { type: string, example: warrior-fury }
        source:
          type: object
          properties:
            kind: { type: string, enum: [armory, addon, build, fight, manual] }
            ref: { type: string }
            captured_at: { type: string, format: date-time }
        character:
          type: object
          required: [race, class, level]
          properties:
            name: { type: string }
            race: { type: string, example: orc }
            class: { type: string, example: warrior }
            level: { type: integer, maximum: 60 }
            talents:
              type: string
              description: The engine's own positional talent string.
            gear:
              type: array
              items: { $ref: '#/components/schemas/GearSlot' }
            buffs: { type: array, items: { type: string } }
            consumes: { type: array, items: { type: string } }
            professions: { type: array, items: { type: string } }
        encounter:
          type: object
          properties:
            duration_sec: { type: integer, default: 180, minimum: 60, maximum: 480 }
            variation: { type: number, default: 0.2 }
            targets: { type: integer, default: 1, minimum: 1, maximum: 10 }
            execute_ratio: { type: number, default: 0.25 }
            profile: { type: string }
        iterations: { type: integer, enum: [500, 3000, 10000] }
        random_seed: { type: integer, format: int64 }
        bulk:
          $ref: '#/components/schemas/BulkSpec'
          description: >-
            Turns one character into many sims. A request carrying it is a
            gear, talents or drops request, by bulk.mode; one carrying weights
            instead is a weights request; one carrying neither is a plain run.
            A request never names its own kind, and never carries both blocks.
        weights:
          $ref: '#/components/schemas/WeightsSpec'
          description: Asks for stat weights instead of a DPS number.
    SimResult:
      type: object
      required: [engine_version, lane, dps, iterations_run]
      properties:
        sim_id: { type: string }
        engine_version: { type: string }
        request: { $ref: '#/components/schemas/SimRequest' }
        lane: { type: string, enum: [browser, server] }
        dps: { $ref: '#/components/schemas/Estimate' }
        iterations_run: { type: integer }
        duration_ms: { type: integer, format: int64 }
        summary:
          type: object
          description: The logs engine's per-fight summary, so the report components render a sim.
        error: { type: string }
        aborted: { type: boolean, description: "The run was stopped on request rather than failing; iterations_run is whatever completed. Never true on a saved result - POST /v1/sims refuses one." }
        combos:
          type: array
          items: { $ref: '#/components/schemas/Combo' }
          description: The ranked answer to a bulk request, best first.
        equipped:
          $ref: '#/components/schemas/Estimate'
          description: >-
            The base character at the FINAL stage, which is what every combo's
            delta is measured against. Absent, rather than zero, when there is
            no baseline.
        stages:
          type: array
          items: { $ref: '#/components/schemas/Stage' }
          description: >-
            What the planner actually ran, so the page can say "3 stages, 38
            combinations" without recomputing the ladder.
        weights:
          type: array
          items: { $ref: '#/components/schemas/StatWeight' }
          description: The answer to a weights request.
        sample:
          type: array
          items: { $ref: '#/components/schemas/SampleCast' }
          description: >-
            One iteration's casts in order - the median-DPS one. It is a table
            view of the cast log, not a guide.
    Estimate:
      type: object
      description: A measured number and its spread.
      properties:
        mean: { type: number }
        stddev: { type: number }
        error: { type: number }
        min: { type: number }
        max: { type: number }
    Substitution:
      type: object
      description: One change from the base character.
      required: [kind]
      properties:
        kind: { type: string, enum: [item, talents, set, consumes] }
        slot:
          $ref: '#/components/schemas/GearSlotName'
          description: >-
            Where an item landed. A ring or a trinket says which of the two
            slots it took, because that is the answer the player acts on.
        item_id: { type: integer }
        enchant: { type: integer }
        suffix: { type: integer }
        name:
          type: string
          description: >-
            The item's, the loadout's or the set's name. An item's name is
            filled in from the engine's own item database, so a row read back
            years later still says what it was about. For a consumes
            substitution it is the consumable ids joined by ", ", or "no
            consumables" when the alternative list is empty.
        talents: { type: string }
        origin: { type: string, description: Copied from the candidate. }
        source_name:
          type: string
          description: Copied from the candidate; a Droptimizer headline reads it.
        consumes:
          type: array
          items: { type: string }
          description: The alternative consumable list this combination ran.
    Combo:
      type: object
      description: One substitution set's result.
      required: [substitutions, dps, delta, group]
      properties:
        substitutions: { type: array, items: { $ref: '#/components/schemas/Substitution' } }
        dps: { $ref: '#/components/schemas/Estimate' }
        delta:
          $ref: '#/components/schemas/Estimate'
          description: >-
            Against equipped, paired at the same stage, WITH ITS OWN ERROR -
            which is what lets the page say "within error" honestly instead of
            ranking noise.
        group:
          type: integer
          description: >-
            0 for the leader's within-error group, then 1, 2, and so on. Rows
            in one group are the same answer and are ranked the same.
    Stage:
      type: object
      description: One rung of the ladder, as run.
      required: [iterations, combos]
      properties:
        iterations: { type: integer }
        combos: { type: integer }
    StatWeight:
      type: object
      description: One stat's answer. The reference stat's weight is exactly 1.
      required: [stat, weight, error]
      properties:
        stat: { type: string }
        weight: { type: number }
        error: { type: number }
    SampleCast:
      type: object
      description: One cast of the sample iteration.
      required: [at_ms, action]
      properties:
        at_ms:
          type: integer
          format: int64
          description: >-
            Negative during the pre-pull, which the page renders as its own
            section.
        action:
          type: string
          description: >-
            The summary's action key - "spell:23881", "item:13503",
            "other:attack" - and not a display name; it is resolved to a name
            the same way a cast row is.
        target: { type: string }
        resources:
          type: object
          additionalProperties: { type: integer }
          description: >-
            What the player held AFTER the cast: rage, energy, mana,
            combo_points.
    SimRow:
      type: object
      properties:
        sim_id: { type: string }
        spec: { type: string }
        kind: { type: string, enum: [run, gear, talents, drops, weights] }
        dps: { type: number }
        headline:
          type: string
          maxLength: 120
          description: >-
            The one line the history list shows, composed when the result
            was written: "1,204 DPS", "+41 DPS from Vis'kag the
            Bloodletter", "3 upgrades on Ragnaros", "+18 DPS with 'Deep
            Fury'", "Crit 1.00 · Agility 0.87".
        state:
          type: string
          enum: [queued, running, done, error]
          description: >-
            The row's own state. A failed run has no headline to show, and
            without this the page could not tell that from a row whose headline
            is simply missing.
        engine_version: { type: string }
        created_at: { type: string, format: date-time }
        title: { type: string }
    SpecFidelity:
      type: object
      properties:
        spec: { type: string }
        reference_stat:
          type: string
          description: >-
            The stat the weights tool normalises to 1.0 for this spec, in
            the engine's own vocabulary (crit, attack_power, …). There is no
            melee_crit or spell_crit: the engine carries one hit and one
            crit.
        state: { type: string, enum: [validated, in_progress, unsupported] }
        median_gap: { type: number, nullable: true }
        parses: { type: integer }
        worst_actions:
          type: array
          items:
            type: object
            properties:
              spell_id:
                type: integer
                format: int64
                description: >-
                  The summary's row identity: the client spell id for a plain
                  spell, a reserved id above 2,000,000 for a tagged, item or
                  other action.
              name: { type: string }
              sim_casts: { type: number }
              actual_casts: { type: number }
        engine_version: { type: string }
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: Null until the nightly job has measured this spec.
    User:
      type: object
      required: [id, role, anonymize, premium]
      properties:
        id: { type: integer, format: int64 }
        battletag: { type: string, nullable: true }
        email: { type: string, nullable: true, description: Shown only to the account itself. }
        role: { type: string }
        anonymize: { type: boolean }
        premium:
          type: boolean
          description: >-
            Whether this account may run sims on our servers. Set by hand until
            payments exist; the web reads it to decide whether to offer the
            server lane at all.
  responses:
    NotFound:
      description: "Unmatched routes return the envelope with code not_found"
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Envelope' }
paths:
  /health:
    get:
      summary: Liveness
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
  /version:
    get:
      summary: Build version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
  /v1/subscribe:
    post:
      summary: Start a double opt-in subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202':
          description: "Accepted regardless of whether the address is already known"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400':
          description: "Malformed or missing JSON body, or invalid email address. When email is invalid, error.fields.email is set."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '429':
          description: "Rate limited: 10 requests per minute per IP on this route, 120 per minute per IP overall"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '500':
          description: "Unexpected store error; envelope with code internal. Mail is sent asynchronously after the response, so this is never a mail-provider failure."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
  /v1/subscribe/confirm:
    get:
      summary: Confirm a subscription
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      responses:
        '302':
          description: "Redirect to configured public site base URL + /subscribed (success) or /subscribe-invalid (invalid token)"
  /v1/subscribe/unsubscribe:
    get:
      summary: Unsubscribe
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      responses:
        '302':
          description: "Redirect to configured public site base URL + /unsubscribed (success) or /subscribe-invalid (invalid token)"
  /v1/builds:
    post:
      summary: Save a build
      description: >-
        The id is the first eight characters of the lowercase base32 SHA-256 of the canonical JSON of
        class_id, gear, point_order, race_id, and tree_version, so saving the same build twice returns
        the same id and the first title wins.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BuildInput' }
      responses:
        '201':
          description: "Saved. data is { id, url } where url is PUBLIC_BASE_URL + /b/ + id."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '200':
          description: "That build was already saved; data is the same { id, url }."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400':
          description: >-
            Body was not JSON or was larger than 8 KB, or the build breaks a talent rule. In the latter
            case error.fields carries one message per offending field, keyed class_id, race_id,
            tree_version, title, point_order, point_order[i], or gear.<slot>.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '429':
          description: "Rate limited: 20 saves per IP per hour, and 120 requests per minute per IP overall"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '500':
          description: "Unexpected store error; envelope with code internal"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
    get:
      summary: The caller's own saved builds
      operationId: listMyBuilds
      parameters:
        - { name: mine, in: query, required: true, schema: { type: string, enum: ['1'] } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: One page of the caller's builds, newest first
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          rows:
                            type: array
                            items: { $ref: '#/components/schemas/Build' }
                          total: { type: integer }
                          page: { type: integer }
                          per_page: { type: integer, example: 100 }
        '400': { description: This list is mine=1 only }
        '401': { description: Sign in first }
  /v1/builds/{id}:
    get:
      summary: Fetch a build record
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: "The record, in the envelope's data. Cache-Control: public, max-age=86400"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '404':
          description: "Unknown id; envelope with code not_found"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '500':
          description: "Unexpected store error; envelope with code internal"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
  /b/{id}:
    get:
      summary: The shared build page
      description: >-
        Server-rendered HTML carrying the site's header and footer, Open Graph and Twitter card tags,
        a canonical link to https://foreversixty.gg/b/{id}, and the record inlined on the planner
        island's mount point. Proxied from foreversixty.gg/b/* by the site's Worker.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: "The build page"
          content:
            text/html:
              schema: { type: string }
        '404':
          description: "A plain page with a link to the planner"
          content:
            text/html:
              schema: { type: string }
        '500':
          description: >-
            The build could not be loaded or the page could not be rendered. A plain page titled
            "Build unavailable", served with Cache-Control: no-store.
          content:
            text/html:
              schema: { type: string }
  /b/{id}/card.png:
    get:
      summary: The build's preview card
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: >-
            1200x630 PNG. Cache-Control: public, max-age=604800. A build whose card cannot be drawn
            gets the static fallback card here too, with a short cache (Cache-Control: public,
            max-age=300) rather than the week-long one.
          content:
            image/png:
              schema: { type: string, format: binary }
        '404':
          description: "Unknown id; the fallback card with a short cache (Cache-Control: public, max-age=300)"
          content:
            image/png:
              schema: { type: string, format: binary }
        '500':
          description: "Store failure while loading the build; the fallback card with a short cache (Cache-Control: public, max-age=300)"
          content:
            image/png:
              schema: { type: string, format: binary }
  /v1/auth/battlenet/start:
    get:
      summary: Begin Battle.net sign-in
      description: "Sets a ten-minute state cookie and redirects to oauth.battle.net with scope openid wow.profile. Registered only when BNET_CLIENT_ID, BNET_CLIENT_SECRET and BNET_REDIRECT_URL are all set."
      parameters:
        - name: next
          in: query
          schema: { type: string, default: /logs }
          description: "A path on foreversixty.gg to return to; anything else falls back to /logs"
      responses:
        '302': { description: "Redirect to Battle.net" }
  /v1/auth/battlenet/callback:
    get:
      summary: Finish Battle.net sign-in
      responses:
        '302': { description: "Session created; redirect to the site" }
        '400':
          description: "Missing or mismatched state, or no code"
          content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } }
        '502':
          description: "Battle.net could not confirm the sign-in"
          content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } }
  /v1/auth/email:
    post:
      summary: Send a magic link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties: { email: { type: string, format: email } }
      responses:
        '202': { description: "Link sent", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '400': { description: "Not an address; error.fields.email is set", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '429': { description: "Five links per address per hour, twenty per IP per hour", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/auth/email/callback:
    get:
      summary: Spend a magic link
      parameters:
        - { name: token, in: query, required: true, schema: { type: string } }
      responses:
        '302': { description: "Session created; redirect to the site" }
        '400': { description: "Used or expired link", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/auth/logout:
    post:
      summary: Sign out
      responses:
        '200': { description: "Signed out", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/sessions:
    delete:
      summary: Sign out (session; the account page's own route for POST /v1/auth/logout)
      responses:
        '204': { description: "Signed out; both cookies cleared" }
  /v1/me:
    get:
      summary: The signed-in account, its characters and its guilds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user: { $ref: '#/components/schemas/User' }
        '401': { description: "Not signed in", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    patch:
      summary: Set the read-time pseudonym flag
      description: >-
        anonymize replaces your name on report pages: the owner of a report you posted reads as
        "user-<id>" instead of your battletag, for every reader of every report you own.
        It does not touch ranking rows. A row in /v1/rankings, on a character page or on a
        guild page still carries the character name you logged under, both as player.name and
        inside player.key, because the key is the character's identity: the leaderboard filters,
        the character page and the links between them are all keyed on it. Separately and
        regardless of the flag, no route shows your email address to anyone but you.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [anonymize]
              properties: { anonymize: { type: boolean } }
      responses:
        '200': { description: "The account as it now stands", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '400': { description: "Nothing to change", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/devices/pair:
    post:
      summary: Issue a pairing code (session only)
      responses:
        '200': { description: "A code valid ten minutes", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '401': { description: "Not signed in on the site", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/devices/claim:
    post:
      summary: Claim a pairing code (the companion; no identity yet)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
                name: { type: string }
                platform: { type: string }
      responses:
        '201': { description: "device_id and the token, shown once", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '404': { description: "Unknown, spent, or expired code", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/devices:
    get:
      summary: The account's devices
      responses:
        '200':
          description: "data is the device array itself, with no wrapper object"
          content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } }
  /v1/devices/{id}:
    delete:
      summary: Revoke a device
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      responses:
        '204': { description: "Revoked" }
        '404': { description: "Not one of yours", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/reports:
    get:
      summary: The caller's own reports, newest first (session)
      parameters:
        - { name: mine, in: query, required: true, schema: { type: string, enum: ["1"] } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: "rows, total, page, per_page (100). Each row carries id, title, zone, status, visibility, created_at, fight_count and kill_count."
          content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } }
        '400': { description: "mine=1 is required", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    post:
      summary: Start a report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [visibility]
              properties:
                title: { type: string }
                visibility: { type: string, enum: [public, unlisted, private, guild] }
                zone: { type: string }
                logging_character:
                  type: object
                  properties:
                    region: { type: string, enum: [us, eu, kr, tw, cn] }
                    ruleset: { type: string, enum: [normal, pvp, rp, hardcore] }
                    name: { type: string }
      responses:
        '201': { description: "id and created_at", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '400': { description: "Bad visibility or character", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '401': { description: "No identity", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/reports/{id}:
    get:
      summary: A report and its fights
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties: { data: { $ref: '#/components/schemas/Report' } }
        '404': { description: "Unknown, or not visible to you", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    patch:
      summary: Change a report's title, visibility, or guild
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                visibility: { type: string, enum: [public, unlisted, private, guild] }
                guild_id: { type: integer, format: int64 }
      responses:
        '200': { description: "The report as it now stands", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '403': { description: "Not the owner, a guild officer, or a moderator", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/reports/{id}/visibility:
    get:
      summary: A report's visibility, for the site Worker
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      responses:
        '200': { description: "Cache-Control: public, max-age=60", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/reports/{id}/access:
    get:
      summary: A base URL for a report the Worker will not serve
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      responses:
        '200': { description: "data_base_url and expires_in", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '404': { description: "Unknown, or not visible to you", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/reports/{id}/files/{path}:
    get:
      summary: One of a report's files, as a signed redirect
      description: >-
        Only report.json and fights/<n>/{summary.json,events.parquet,live.json} are reachable;
        raw chunks never are. Always registered, unlike the ingest and upload routes below:
        without R2 configured it answers 503 rather than being unmounted, because a route that
        exists but cannot serve is a better answer than a bare 404 for something that never
        existed.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: path, in: path, required: true, schema: { type: string } }
      responses:
        '302': { description: "Redirect to a signed R2 URL valid ten minutes" }
        '404': { description: "Unknown report or file", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '503': { description: "R2 is not configured on this deployment; error.code unavailable", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/reports/{id}/fights/{n}:
    put:
      summary: Store one closed fight (device)
      description: >-
        multipart/form-data with summary (summary.Summary JSON), events (Parquet), metrics
        ([]MetricsRow JSON) and raw_range ({start_offset, end_offset, sha256}). Offsets are
        report-relative. The API rebuilds the metrics from the events and compares. Registered
        only when R2 is configured (R2_ACCOUNT_ID, R2_ACCESS_KEY_ID, R2_SECRET_ACCESS_KEY,
        R2_BUCKET are all set); without it this route, and every other ingest route below, is
        not mounted at all.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: n, in: path, required: true, schema: { type: integer } }
      responses:
        '201': { description: "Stored and verified", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '200': { description: "Already stored with the same raw hash", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '409': { description: "The metrics do not match the events; error.fields.metrics says how", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/reports/{id}/fights/{n}/live:
    put:
      summary: The running summary of a fight in progress (device)
      description: "Registered only when R2 is configured; see PUT /v1/reports/{id}/fights/{n}."
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: n, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary: { type: object }
                elapsed_ms: { type: integer, format: int64 }
                updated_at: { type: string, format: date-time }
      responses:
        '204': { description: "live.json written and report.json touched" }
  /v1/reports/{id}/raw:
    put:
      summary: One compressed raw chunk (device)
      description: >-
        Body is application/zstd, at most 8 MiB. X-Raw-SHA256 is the hex SHA-256 of the decoded
        bytes. Offsets are report-relative and chunk boundaries are multiples of 4 MiB of decoded
        log. Registered only when R2 is configured; see PUT /v1/reports/{id}/fights/{n}.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: offset, in: query, required: true, schema: { type: integer, format: int64 } }
      responses:
        '204': { description: "Stored" }
        '200': { description: "Already stored with the same hash" }
        '400': { description: "Not zstd, or does not hash to X-Raw-SHA256", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '409': { description: "The range overlaps a different stored range", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/reports/{id}/complete:
    post:
      summary: Finish a live report (device)
      description: "Registered only when R2 is configured; see PUT /v1/reports/{id}/fights/{n}."
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                final_offset: { type: integer, format: int64 }
                engine_version: { type: string }
                health: { type: object }
      responses:
        '204': { description: "Complete; the raw-sample check is scheduled" }
  /v1/uploads:
    post:
      summary: Start a whole-file upload (session)
      description: >-
        Registered only when R2 is configured and the Cloud Run parse job can be reached at
        startup; without either, whole-file uploads are not offered and the ingest above (which
        needs only R2) is what a companion uses instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [size_bytes]
              properties:
                size_bytes: { type: integer, format: int64, maximum: 4294967296 }
                filename: { type: string }
      responses:
        '201': { description: "upload_id, signed 64 MiB parts valid an hour, and complete_url", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/uploads/{upload_id}/complete:
    post:
      summary: Finish an upload and start the parse job (session)
      description: "Registered only when R2 is configured and the parse job can be reached; see POST /v1/uploads."
      parameters: [ { name: upload_id, in: path, required: true, schema: { type: string } } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [etags]
              properties:
                etags:
                  type: array
                  items:
                    type: object
                    properties: { number: { type: integer }, etag: { type: string } }
                title: { type: string }
                visibility: { type: string, enum: [public, unlisted, private, guild] }
      responses:
        '202': { description: "report_id; the parse job has been started", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '502': { description: "Stored, but the parse job could not be started", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/rankings:
    get:
      summary: A leaderboard page
      parameters:
        - name: encounter
          in: query
          required: true
          schema: { type: string }
          description: "The numeric encounter id, or the slug /rankings/<encounter-slug> uses (the encounter name lowercased with spaces as -)"
        - { name: difficulty, in: query, schema: { type: integer } }
        - { name: metric, in: query, schema: { type: string, enum: [dps, hps, damage_taken, execution], default: dps }, description: "execution has no percentile equivalent (see /v1/rankings/percentile)" }
        - { name: spec, in: query, schema: { type: string } }
        - { name: class, in: query, schema: { type: string } }
        - { name: phase, in: query, schema: { type: string, enum: [pre-beta, beta, launch, raids-1] } }
        - { name: region, in: query, schema: { type: string, enum: [us, eu, kr, tw, cn] } }
        - { name: ruleset, in: query, schema: { type: string, enum: [normal, pvp, rp, hardcore] } }
        - { name: faction, in: query, schema: { type: string, enum: [alliance, horde] } }
        - { name: since, in: query, schema: { type: string, example: "today" } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: "Cache-Control: public, max-age=30"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          rows: { type: array, items: { $ref: '#/components/schemas/RankingRow' } }
                          total: { type: integer }
                          page: { type: integer }
                          per_page: { type: integer, enum: [100] }
                          updated_at: { type: string, format: date-time }
  /v1/rankings/percentile:
    get:
      summary: Where one value stands in its bracket
      parameters:
        - { name: encounter, in: query, required: true, schema: { type: string }, description: "Encounter id or slug" }
        - { name: difficulty, in: query, required: true, schema: { type: integer } }
        - { name: spec, in: query, schema: { type: string } }
        - { name: phase, in: query, schema: { type: string } }
        - { name: metric, in: query, schema: { type: string, enum: [dps, hps, damage_taken] } }
        - { name: value, in: query, required: true, schema: { type: number } }
      responses:
        '200': { description: "percentile, 0 to 100", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '404': { description: "Nothing ranked in that bracket yet", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/rankings/guilds:
    get:
      summary: A guild leaderboard
      parameters:
        - { name: encounter, in: query, schema: { type: string }, description: "Encounter id or slug; required for speed and execution" }
        - { name: kind, in: query, schema: { type: string, enum: [speed, execution, progress], default: speed } }
        - { name: phase, in: query, schema: { type: string } }
      responses:
        '200': { description: "rows", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/sims:
    post:
      summary: Save a browser-run sim result
      operationId: saveSim
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/SimResult'
                - type: object
                  properties:
                    title: { type: string, maxLength: 120 }
      responses:
        '201':
          description: Saved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          sim_id: { type: string, minLength: 12, maxLength: 12 }
        '400': { description: The body is not a runnable browser result }
    get:
      summary: The caller's own saved sims
      operationId: listMySims
      parameters:
        - { name: mine, in: query, required: true, schema: { type: string, enum: ['1'] } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - name: kind
          in: query
          schema: { type: string, enum: [run, gear, talents, drops, weights] }
          description: Narrows the list to one tool. Omitted or empty is every kind; an unknown value is 400.
      responses:
        '200':
          description: One page of the caller's sims
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          rows:
                            type: array
                            items: { $ref: '#/components/schemas/SimRow' }
                          total: { type: integer }
                          page: { type: integer }
                          per_page: { type: integer, example: 100 }
        '401': { description: Sign in first }
  /v1/sims/run:
    post:
      summary: Run a sim on our servers (premium)
      operationId: runSim
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SimRequest' }
      responses:
        '202':
          description: Dispatched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          sim_id: { type: string }
        '400':
          description: >-
            The request cannot be run. error.code is "invalid" for a
            malformed envelope, "cap_exceeded" when the expansion is past
            the server lane's cap (error.fields carries cap and
            combinations as decimal strings), or "too_large" when the
            planner estimates the run past the job's budget (error.fields
            carries estimate_sec and budget_sec, also as decimal strings).
        '401': { description: Sign in first }
        '402': { description: 'premium_required: running on our servers is a premium feature' }
        '502': { description: The run was recorded but could not be started }
  /v1/sims/{id}:
    get:
      summary: One saved sim
      operationId: getSim
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/SimResult' }
        '404': { description: No such sim }
  /v1/sims/{id}/progress:
    get:
      summary: How far a server-lane run has got
      operationId: getSimProgress
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The run's state
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          state: { type: string, enum: [queued, running, done, error] }
                          iterations_done: { type: integer }
                          dps: { type: number, nullable: true }
                          stage: { type: integer, description: Which stage of a bulk run is going; 0 for a plain run. }
                          combos_done: { type: integer }
                          combos_total: { type: integer }
        '404': { description: No such sim }
  /v1/specs:
    get:
      summary: Every spec's simulator fidelity
      operationId: listSpecs
      responses:
        '200':
          description: The support page's data, one card per spec
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          specs:
                            type: array
                            items: { $ref: '#/components/schemas/SpecFidelity' }
  /v1/characters/{region}/{ruleset}/{name}/sim-input:
    get:
      summary: The character model the sim page starts from
      operationId: getSimInput
      parameters:
        - { name: region, in: path, required: true, schema: { type: string } }
        - { name: ruleset, in: path, required: true, schema: { type: string } }
        - { name: name, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The newest of the addon export and the last fight
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          spec: { type: string }
                          gear: { type: object }
                          talents: { type: string }
                          buffs:
                            type: array
                            items: { type: string }
                            description: Engine buff ids, from sim/request/IDS.md.
                          captured_at: { type: string, format: date-time }
                          source: { type: string, enum: [addon, blizzard, fight] }
        '404': { description: No such character }
  /v1/phases:
    get:
      summary: The content phase boundaries
      operationId: getPhases
      description: >-
        The same four instants the rankings bucket by, from
        data/curated/phases.json. Cached an hour: they change only with a
        deploy.
      responses:
        '200':
          description: The phases, in order
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          phases:
                            type: array
                            items:
                              type: object
                              properties:
                                name: { type: string, example: raids-1 }
                                start: { type: string, format: date-time }
  /v1/characters/{region}/{ruleset}/{name}:
    get:
      summary: A character's bests, history, and the builds they have been seen in
      description: "best[] and history[] rows are { encounter, encounter_id, difficulty, metric, value, percentile?, spec?, fought_at, report_id, fight_index, execution_score? }; builds_seen[] is { talent_split, spec?, first_seen }"
      parameters:
        - { name: region, in: path, required: true, schema: { type: string, enum: [us, eu, kr, tw, cn] } }
        - { name: ruleset, in: path, required: true, schema: { type: string, enum: [normal, pvp, rp, hardcore] } }
        - { name: name, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '404': { description: "No such character", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/guilds/{region}/{ruleset}/{name}:
    get:
      summary: A guild's progression, roster bests, and reports
      description: "progression[] rows are { encounter, encounter_id, difficulty, kills, pull_count, first_kill_at? }; roster_best[] rows are { player, encounter, encounter_id, metric, value, fought_at, execution_score? }"
      parameters:
        - { name: region, in: path, required: true, schema: { type: string, enum: [us, eu, kr, tw, cn] } }
        - { name: ruleset, in: path, required: true, schema: { type: string, enum: [normal, pvp, rp, hardcore] } }
        - { name: name, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '404': { description: "No such guild", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/addon/exports:
    post:
      summary: Store the addon's character exports (device)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [characters]
              properties:
                characters:
                  type: array
                  maxItems: 200
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      ruleset: { type: string, description: "Normalised through the API's realm-to-ruleset mapping; an unrecognised value is not rejected" }
                      region: { type: string, enum: [us, eu, kr, tw, cn] }
                      export: { type: string, maxLength: 4096 }
      responses:
        '200': { description: "stored", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/addon/inbox:
    get:
      summary: The builds waiting to be written into the game (device)
      responses:
        '200':
          description: "{ builds: [ { id, name, character?, code } ] } where code is the build's FSB1 addon code, so the companion writes the inbox file without a second call"
          content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } }
    post:
      summary: Queue a build for the game (session)
      description: >-
        Escaping contract. What this route stores comes straight back out of GET /v1/addon/inbox
        as `id` and `character`, and the companion writes those into ForeverSixtyInbox.lua, a Lua
        source file the addon loads. The API's half of the bargain is shape: build_id is exactly
        eight lowercase RFC 4648 base32 characters ([a-z2-7]), and character_key is either empty
        or <region>/<ruleset>/<name-slug> whose slug is letters, digits and hyphens only - no
        quote, backslash, bracket, control character or whitespace can reach the store, and
        anything else is refused 400. The companion's half is to escape what it writes anyway:
        the shape check is a floor, not a promise that the value is safe to interpolate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [build_id]
              properties:
                build_id: { type: string, minLength: 8, maxLength: 8, pattern: '^[a-z2-7]{8}$' }
                character_key:
                  type: string
                  pattern: '^$|^[a-z]{2}/(normal|pvp|rp|hardcore)/[^/]{1,64}$'
      responses:
        '201': { description: "queued", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
        '400': { description: "build_id or character_key is not the right shape", content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /reports/{id}/card.png:
    get:
      summary: A report's unfurl card
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      responses:
        '200':
          description: >-
            1200x630 PNG, Vary: Cookie. Cache-Control is public, max-age=300 for a public or
            unlisted report and private, max-age=300 for one whose card was drawn because the
            caller may read it.
          content: { image/png: { schema: { type: string, format: binary } } }
        '404':
          description: "Unknown or invisible report; the stand-in card, cached a minute"
          content: { image/png: { schema: { type: string, format: binary } } }
