openapi: 3.1.0
info:
  title: Forever Sixty API
  version: 0.1.0
servers:
  - url: https://api.foreversixty.gg
components:
  schemas:
    Envelope:
      type: object
      required: [ok, data, error, request_id]
      properties:
        ok: { type: boolean }
        data: { nullable: true }
        error:
          nullable: true
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            fields: { type: object, additionalProperties: { type: string } }
        request_id: { type: string }
  responses:
    NotFound:
      description: Unmatched routes return the envelope with code not_found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Envelope' }
paths:
  /healthz:
    get:
      summary: Liveness
      responses: { '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } } }
  /version:
    get:
      summary: Build version
      responses: { '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } } }
  /v1/subscribe:
    post:
      summary: Start a double opt-in subscription
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [email], properties: { email: { type: string, format: email } } } } }
      responses:
        '202': { description: Accepted regardless of whether the address is already known }
        '400': { description: Invalid email }
        '429': { description: Rate limited }
        '500': { description: Internal error; envelope with code internal, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
  /v1/subscribe/confirm:
    get:
      summary: Confirm a subscription
      parameters: [{ name: token, in: query, required: true, schema: { type: string } }]
      responses: { '302': { description: Redirect to /subscribed or /subscribe-invalid on the public site } }
  /v1/subscribe/unsubscribe:
    get:
      summary: Unsubscribe
      parameters: [{ name: token, in: query, required: true, schema: { type: string } }]
      responses: { '302': { description: Redirect to /unsubscribed or /subscribe-invalid on the public site } }
